.paa-managers
  padding 37px 40px 0

  &__selectes
    font-size 18px
    font-weight 100
    margin 0 0 40px

    & a
      color #0096ff
      font-weight 600

      &:hover
        text-decoration underline

  & .basket__good_remove
    float none

  & .personal-admin-account__table
    & td:nth-last-child(1)
      text-align center

    & td
      padding 28px 10px
      position relative

    & a
      height 100%
      left 0
      position absolute
      top 0
      width 100%

    & .fio
      color #0096ff

    & td:hover .fio
      color #d10909
      font-weight 600

  & .distribution__row.personal-area__submit
    margin-top 48px

  & [save-manager-edit],
  & [cancel-manager-edit],
  & [add-manager],
  & [cancel-add-manager]
    display none