mixin topmenu-sticky()
  .topmenu-sticky.clearfix
    a.topmenu-sticky__logo(href='index.html')
    .topmenu-sticky__menu.clearfix
      .topmenu-sticky__menu_item
        a.topmenu-sticky__menu_link(href='catalog.html')
          | Сорочки
      .topmenu-sticky__menu_item
        a.topmenu-sticky__menu_link(href='catalog.html')
          | Галстуки
      .topmenu-sticky__menu_item
        a.topmenu-sticky__menu_link(href='catalog.html')
          | Кашне
      .topmenu-sticky__menu_item
        a.topmenu-sticky__menu_link(href='catalog.html')
          | Пластроны
      .topmenu-sticky__menu_item
        a.topmenu-sticky__menu_link(href='catalog.html')
          | Жилеты
      .topmenu-sticky__menu_item
        a.topmenu-sticky__menu_link(href='catalog.html')
          | Бабочки
      .topmenu-sticky__menu_item
        a.topmenu-sticky__menu_link(href='catalog.html')
          | Подтяжки
      .topmenu-sticky__menu_item
        a.topmenu-sticky__menu_link(href='catalog.html')
          | Запонки
    .topmenu-sticky__right-menu
      .topmenu-sticky__basket
        i.icons.icons__icon-basket
        | Корзина
      .topmenu-sticky__phone(data-popup='#popup-request-call' scrolltotopmenu)
        i.icons.icons__icon-phone-red
