mixin more-info-product-print()
  .more-info-product-print
    .more-info-product-print__title
      | Технические характеристики
    .more-info-product-print__content
      p.
        C 1992 года бренд «Mario Machardi» представлен и на российском рынке.
        <br>
        Благодаря изысканному сочетанию классических и современных тенденций мировой моды, бескомпромиссному качеству, уникальному дизайну и инновационным технологиям обработки тканей, продукция «Mario Machardi» получила широкое признание покупателей и сегодня, новые коллекции сорочек, галстуков и аксессуаров можно приобрести в сети магазинов и фирменных точках продаж «Mario Machardi» уже по всей России.
