mixin about-company()
  // О компании
  .content-gray-wrapper
    .content-gray-wrapper__title.global-blocks-title
      span.global-blocks-title_text
        | О компании
    .content-gray-wrapper__wrapper
      .content-gray-wrapper__description
        p.
          C&nbsp;1992 года бренд &laquo;Mario Machardi&raquo; представлен и&nbsp;на&nbsp;российском рынке.
          <br>
          Благодаря изысканному сочетанию классических и&nbsp;современных тенденций мировой моды, бескомпромиссному качеству, уникальному дизайну и&nbsp;инновационным технологиям обработки тканей, продукция &laquo;Mario Machardi&raquo; получила широкое признание покупателей и&nbsp;сегодня, новые коллекции сорочек, галстуков и&nbsp;аксессуаров можно приобрести в&nbsp;сети магазинов и&nbsp;фирменных точках продаж &laquo;Mario Machardi&raquo; уже по&nbsp;всей России.