.content-gray-wrapper
  margin-top 40px

  &__title
    margin-bottom 15px

  &__wrapper
    background-color #f9fbfc
    margin-top 45px
    padding 95px 115px 105px

    &_small-padding
      padding 55px 115px 55px


  &__description
    font-size 24px
    font-weight 100
    line-height 48px
    text-align center

    &_small
      font-size 21px
      line-height 31px