mixin easy-care()
  // Easy Care
  .content-gray-wrapper
    .content-gray-wrapper__title.global-blocks-title
      span.global-blocks-title_text
        | EasyCare
    .content-gray-wrapper__wrapper.content-gray-wrapper__wrapper_small-padding
      .content-gray-wrapper__description.content-gray-wrapper__description_small
        p
          | Применяется на&nbsp;тканях из&nbsp;100% хлопка.
          br
          | Обеспечивает легкое разглаживание и&nbsp;уменьшает сминание изделия. Уход за&nbsp;изделием стандартный, но&nbsp;глажение значительно облегченно по&nbsp;сравнению с&nbsp;необработанным хлопком.
          br
          b Без заломов после стирки!