include ../manual-icon-non-iron/manual-icon-non-iron

mixin non-iron()
  // Non Iron
  .content-gray-wrapper
    .content-gray-wrapper__title.global-blocks-title
      span.global-blocks-title_text
        | Non Iron
    .content-gray-wrapper__wrapper.content-gray-wrapper__wrapper_small-padding
      .content-gray-wrapper__description.content-gray-wrapper__description_small
        p
          | После стирки и&nbsp;высыхания ткани меньше мнутся, не&nbsp;деформируются, так что глажение не&nbsp;обязательно.
          br
          | Эта &laquo;ready to&nbsp;go&raquo; обработка положительно сказывается в&nbsp;повседневной носке, потому что восприимчивость складки минимизирована, и&nbsp;стабильность размера сохраняется.
          br
          b Не&nbsp;требует глажки!

      +manual-icon-non-iron()