.header-print
  border-bottom 1px solid #e5e5e5
  padding-bottom 40px !important
  flex-wrap wrap

  &__link-to-page
    color #0195ff
    font-size 14px
    font-weight 300
    margin-top 15px
    text-align center
    width 100%