mixin header-print()
  // Шапка
  .header.header-print
    a(href="/").header__logo
      img(src="images/icons/logo.svg", alt="Machardi")
    .header-print__link-to-page
      | http://mario.natilleray.com/ссылка на эту страницу.html
