.technologies-description
  margin-bottom -51px

  &__description
    float left
    padding-right 4px
    width calc(100% - 465px)

    &_wrapper
      background-color #f7f9fb
      padding 40px 60px

    &_title
      font-size 24px
      font-weight 700
      line-height 28px
      margin 0 0 17px

    & p
      font-size 18px
      font-weight 100
      line-height 28px
      margin 0 0 34px

    & ul
      margin 0
      padding 0

    & li
      list-style none
      font-size 18px
      font-weight 100
      margin -2px 0

      &:before
        content '–'
        display inline-block
        margin-right 5px

  &__preview-icon
    float left
    width 465px

    &_wrapper
      background-color #f9fbfc
      padding 80px 35px

    &_item
      margin 30px 0

      &:first-child
        margin-top 0

      &:last-child
        margin-bottom 0

    &_item-icon
      display inline-block
      max-width 170px
      vertical-align middle

      & img
        height auto
        max-width 100%

    &_item-text
      display inline-block
      font-size 18px
      font-weight 100
      line-height 22px
      margin-left 20px
      max-width 185px
      vertical-align middle
