mixin technologies-description()
  .technologies-description.clearfix
    .technologies-description__column.technologies-description__description
      .technologies-description__column_wrapper.technologies-description__description_wrapper
        h2.technologies-description__description_title
          | Wolecula comfort 24
        p.
          Хлопок является традиционным материалом в&nbsp;одежде, и&nbsp;относится к&nbsp;экологически чистой текстильной продукции. Но&nbsp;не&nbsp;секрет, что с&nbsp;некоторыми его свойствами приходилось мириться&nbsp;&mdash; он&nbsp;быстро мнется и&nbsp;тяжело гладится.
        p.
          Используя высокие технологии для повышения качества хлопка, мы&nbsp;получили уникальную возможность предложить Вам сорочки &laquo;Mario Machardi&raquo; со&nbsp;свойствами натурального хлопка, а&nbsp;вместе с&nbsp;Wolecula и&nbsp;заветную формула комфорта.
        h2.technologies-description__description_title
          | Комплекс обработок, обладающий уникальными свойствами:
        ul
          li Ткань «дышит»;
          li Быстро восстановливается после смятия;
          li Не подвержена усадке;
          li Устойчива к пиллингу;
          li Прочна;
          li Экологична.
    .technologies-description__column.technologies-description__preview-icon
      .technologies-description__column_wrapper.technologies-description__preview-icon_wrapper
        .technologies-description__preview-icon_item
          .technologies-description__preview-icon_item-icon
            img(src='images/icons/fabric_does_not_breathe.png' alt='Обычная немнущаяся сорочка. Ткань не дышит')
          .technologies-description__preview-icon_item-text
            | Обычная немнущаяся сорочка.
            br
            b Ткань «не дышит»
        .technologies-description__preview-icon_item
          .technologies-description__preview-icon_item-icon
            img(src='images/icons/fabric_breathes.png' alt='WOLECULA COMFORT 24. Ткань дышит')
          .technologies-description__preview-icon_item-text
            | WOLECULA
            br
            | COMFORT 24.
            br
            b Ткань «дышит»