mixin delivery()
  .delivery
    .delivery__column.clearfix
      .delivery__column_left
        .delivery__item.delivery__item_general
          .delivery__title: b
            | Доставка
          .delivery__text
            | При необходимости сроки и стоимость доставки могут быть скорректированы.
          .delivery__text: b
            | Варианты оплаты заказа:
          .delivery__text.delivery__text_small
            | &mdash; Наличными
            br
            | &mdash; Банковской картой
            br
            | &mdash; По квитанции через банк

        .delivery__item.delivery__item_free
          .delivery__title
            | Доставка по Москве
            br
            | и ближайшему Подмосковью
            br
            b Бесплатно
          .info После оплаты товара

      .delivery__column_right
        .delivery__item.delivery__item_russia
          .delivery__title
            | Доставка
            br
            b По всей России
          .delivery__text
            | Доставка по России доступна на всей территории страны. Перевозка товара осуществляется специализированными логистическими компаниями (Байкал-сервис, Деловые линии, ЖелДор-экспедиция, ПЭК, Лоуд-Сервис, ЭМСК, Автотрейдинг, Юнилэнд),
          .delivery__company
            a.delivery__company_item(href='#')
              img(src='/uploads/company/img_1.png')
            a.delivery__company_item(href='#')
              img(src='/uploads/company/img_2.png')
            a.delivery__company_item(href='#')
              img(src='/uploads/company/img_3.png')
            a.delivery__company_item(href='#')
              img(src='/uploads/company/img_4.png')
            a.delivery__company_item(href='#')
              img(src='/uploads/company/img_5.png')
            a.delivery__company_item(href='#')
              img(src='/uploads/company/img_6.png')
            a.delivery__company_item(href='#')
              img(src='/uploads/company/img_7.png')
          .delivery__text
            | а также региональными транспортными компаниями. Доставка товара осуществляется до транспортной компании, находящейся в Москва (или в ближайшем Подмосковье) за счёт компании после поступления всей суммы на наш расчётный счёт.
          .delivery__text
            | Сроки отправки груза указанными компаниями в течение 2-3 дней с момента поступления денежных средств на наш расчётный счёт.
