.delivery
  &__column
    &_left
      float left
      margin-right 5px
      width 465px

    &_right
      float right
      width calc(100% - 470px)

  &__item
    background-color #f1f4f8
    margin-bottom 5px
    min-height 250px
    padding 37px 40px
    position relative

    &_free
      background-color #c7b299

      .info
        bottom 35px
        font-size 12px
        position absolute

    &_russia
      max-height 527px

  &__title
    font-size 21px
    font-weight 100
    line-height 24px
    margin-bottom 15px

  &__item_free &__title
    color white

  &__text
    font-size 16px
    font-weight 300
    line-height 27px
    margin-bottom 5px

    &_small
      font-size 14px
      line-height 21px

  &__item_russia &__text
    margin-bottom 36px

  &__company
    margin-bottom 34px

    &_item
      margin 0 5px