.catalog-right-panel
  background-color white
  border-left 1px solid #e5e5e5
  overflow hidden
  position absolute
  right 0
  top 0
  transition height 0.2s ease-out, margin-top 0.15s ease-out, width 0.15s ease-out
  width 60px
  z-index 10

  +below(1600px)
    border-top 1px solid #f0f0f0
    width 40px

  &_open
    width 220px !important

  &__close-wrapper
    height 100%
    position relative

  &__open-panel-btn
    background none
    border none
    height 100%
    padding 0
    position absolute
    transition background-color 0.15s ease-out
    width 100%

    &:hover
      background-color alpha(#e5e5e5, 0.5)

    & .icons
      bottom 0
      left -5px
      margin auto
      position absolute
      right 0
      top 0

  &__close-panel-btn
    background-color black
    border none
    color white
    font-size 24px
    font-weight 300
    line-height 28px
    padding 2px 10px 4px

  &__open-wrapper
    background-color white
    left 100%
    position absolute
    transition left 0.15s ease-out
    top 0
    width 220px

  &__open-wrapper-scroll
    padding 40px 35px 40px

  &_open &__open-wrapper
    left 0

  &__open-wrapper-btn
    margin-bottom 120px
    text-align right

  &__list
    border-bottom 1px solid #e5e5e5
    margin-bottom 25px
    padding-bottom 17px

    &_item
      margin 12px 0

    &_link
      display inline-block
      font-size 15px
      font-weight 100
      transition color 0.15s ease-out, font-weight 0.15s ease-out
      vertical-align middle

      &:hover
        color #0096ff

      &_active
        color black
        font-weight 500

    &_icon
      display inline-block
      margin-right 14px
      position relative
      text-align center
      top -2px
      vertical-align middle
      width 26px

  &__my-order_count
    background-color #0096ff
    border-radius 50%
    color white
    font-size 11px
    font-weight 300
    height 22px
    padding 4px 0
    position absolute
    right -10px
    top -10px
    text-align center
    width 22px

  &__viewed-slider
    display none
    margin 54px 0 30px

    &_open
      display block

  &__wishlist-slider
    display none
    margin 54px 0 30px

    &_open
      display block

  &__slider
    &_prev-arrow,
    &_next-arrow
      background none
      border none
      height 20px
      position absolute
      width 100%
      z-index 1

      &.slick-disabled
        opacity 0.5

      & .fa
        bottom 0
        font-size 35px
        font-weight 900
        height 35px
        left 0
        margin auto
        position absolute
        right 0
        top 0

    &_prev-arrow
      top -45px

    &_next-arrow
      bottom -45px

    &_item
      margin 20px 0
      outline none
      text-align center

    &_image
      margin 0 auto 25px
      max-width 120px
      overflow hidden

      & img
        display inline-block
        height auto
        max-width 100%

    &_item_open-popup &_image
      position absolute
      width 270px

    &_title
      color black
      font-size 14px
      font-weight 100
      transition color 0.15s ease-out, font-weight 0.3s ease-out

    &_item_wrapper:hover &_title
      color #0096ff
      font-weight 500
      text-decoration underline

    &_price
      font-size 16px
      font-weight 500
      margin-top 5px

      & .rub
        margin-left 5px

    &_option-button
      margin-top 5px

    &_like,
    &_basket
      background none
      border none
      margin 0 6px
      padding 6px

    &_like
      &:hover
        & .icons
          retinaSprite($like_active_group)

    &_basket
      &:hover
        & .icons
          retinaSprite($basket_middle_group)