.paa-registration-requests
  padding 37px 40px 48px

  & .personal-admin-account__table
    & td
      position relative

    & a
      height 100%
      left 0
      position absolute
      top 0
      width 100%

    & .name
      color #0096ff

    & td:hover .name
      color #d10909
      font-weight 600