mixin cooperation()
  .cooperation
    .cooperation__column.clearfix
      .cooperation__column_left.clearfix
        .cooperation__item.cooperation__item_one
          .cooperation__item_title
            | Сотрудничество
            br
            b Что мы предлагаем?

        .cooperation__item.cooperation__item_two
          .cooperation__item_title
            | Оформление
            br
            | монобрендовых точек продаж
            br
            b Бесплатно
          .cooperation__item_image
            img(src='/images/cooperation/img_1.png')
          .cooperation__item_text
            | Маркетинговая служба «Mario Machardi» бесплатно предоставит вам дизайн-макет оформления магазина, разработанный с учетом вашего помещения , а кроме этого, предоставит вам широкий ассортиментк красочных рекламных материалов: стоек, баннеров, постеров, плакатов

        .cooperation__item.cooperation__item_three
          .cooperation__item_title
            | Аудио-реклама
            br
            | для торговых центров
            br
            b Бесплатно
          .cooperation__audio
            audio(id='player' src='/audio-adv.mp3')
            button.cooperation__audio_play-button.show(type='button' play-audio)
            button.cooperation__audio_pause-button.hide(type='button' pause-audio)
            button.cooperation__audio_play(type='button' play-audio-link)
              | Слушать

        .cooperation__item.cooperation__item_four
          .cooperation__item_title.cooperation__item_title_large: b
            | Упаковка
            br
            | и промо-материалы
          .cooperation__item_image
            img(src='/images/cooperation/img_3.png')
          .cooperation__item_text
            | Яркая, стильная и наглядная упаковка привлекает внимание и стимулирует спрос, а бесплатно раздаваемая сувенирная и промо-продукция способствует узнаваемости марки и повышает количество лояльно настроенных постителей вашего магазина.

        .cooperation__item.cooperation__item_five
          .cooperation__item_title
            | Поштучная
            br
            | подсортировка.
            br
            b Всегда в наличии.
          .cooperation__item_image
            img(src='/images/catalog_nos.png')
          .cooperation__nos
            | NOS

      .cooperation__column_right.clearfix
        .cooperation__item.cooperation__item_six
          .cooperation__item_title: b
            | Акции
            br
            | в местах продаж
          .cooperation__item_image
            img(src='/images/cooperation/img_2.png')
          .cooperation__item_text
            | Креативные рекламные акции, регулярно проводимые в местах продаж, значительно увеличивают количество посетителей вашего магазина, лояльно настроенных покупателей и формируют позитивный образ марки «Mario Machardi».

        .cooperation__item.cooperation__item_seven
          .cooperation__item_title
            | Ассортимент.
            br
            b Разнообразие продукции
          .cooperation__item_text
            | Торговая марка «Mario Machardi» это не только инновации в мире сорочек, но и широчайший ассортимент других первоклассных предметов одежды.
          .cooperation__item_text.cooperation__item_text_small: b
            | &mdash; Галстуки
            br
            | &mdash; Бабочки
            br
            | &mdash; Жилетки
            br
            | &mdash; Заколки и запонки
            br
            | &mdash; Кашне
            br
            | &mdash; Камербенды
            br
            | &mdash; Пластроны
            br
            | &mdash; Ремни
          .cooperation__item_image
            img(src='/images/cooperation/img_4.png')