.shops
  margin-top 25px

  &__alphabet
    margin-bottom 35px
    text-align center

    &_all
      color black
      display inline-block
      font-size 21px
      font-weight 700
      padding 0 10px
      transition color 0.15s ease-out
      vertical-align middle

      &:hover
        color #0096ff

    &_items
      display inline-block
      vertical-align middle

    &_item
      color black
      float left
      font-size 18px
      font-weight 100
      text-transform uppercase
      padding 5px 5px
      transition color 0.15s ease-out, font-weight 0.15s ease-out
      width 28px

      &:hover
        color #0096ff
        font-weight 400

  &__info-shop
    &_column
      float left
      width (100 / 3)%

    &_item
      padding 2px
      width 100%

    &_city-shop-btn
      background-color #f1f4f8
      border none
      border-radius 0
      display block
      font-size 21px
      line-height 35px
      font-weight 100
      padding 28px 40px
      transition background-color 0.15s ease-out, box-shadow 0.15s ease-out, font-weight 0.15s ease-out
      text-align left
      width 100%

      &_open
        background-color white
        font-weight 700

      & .fa
        float right
        font-size 40px
        font-weight 900
        margin -2px 0 0

    &_wrapper
      display none

    &_content
      padding 20px 40px 0

    &_group-content
      margin-bottom 18px

    &_title
      font-size 16px
      font-weight 700
      text-transform uppercase

    &_text
      font-size 16px
      font-weight 100

    &_map
      margin-top 51px