.contacts
  margin-top 30px

  &__map
    background-color alpha(black, 0.1)
    margin-bottom 2px
    height 505px
    width 100%

  &__column
    float left
    padding 2px
    width (100 / 3) %

    &:first-child
      padding-left 0

    &:last-child
      padding-right 0

    &_wrapper
      background-color #f9fbfc
      padding 40px

  &__info_group
    margin-bottom 34px

  &__info-title
    font-size 21px
    font-weight 700
    line-height 25px
    margin-bottom 31px

  &__info-text
    font-size 16px
    font-weight 100
    line-height 27px

    & a
      color #0096ff

      &:hover
        text-decoration underline

  &__requisites_title
    font-size 21px
    font-weight 700
    line-height 25px
    margin-bottom 33px

  &__requisites_group
    margin-bottom 8px

  &__requisites_group-title
    font-size 16px
    font-weight 700
    line-height 21px
    margin-bottom 2px

  &__requisites_group-text
    font-size 16px
    font-weight 100
    line-height 21px

  &__feedback-form
    background-color #f1f4f8

    &_title
      font-size 21px
      font-weight 700
      line-height 25px
      margin-bottom 32px

    &_preview-text
      font-size 16px
      font-weight 100
      line-height 21px

    &_form
      margin-top 80px

    &_group
      margin-bottom 22px

    &_group-submit
      margin-top 66px

    &_label
      display block
      font-size 16px
      font-weight 100
      line-height 21px

    &_field
      border 1px solid transparent
      border-radius 0
      font-size 15px
      font-weight 300
      line-height 20px
      padding 4px 10px
      width 100%

    &_textarea
      border 1px solid transparent
      border-radius 0
      font-size 15px
      font-weight 300
      line-height 20px
      padding 4px 10px
      resize none
      width 100%

    &_noty
      font-size 12px
      font-weight 100
      line-height 16px
      margin-top -20px

  &__managers
    margin-top 2px

    &_wrapper
      background-color #f9fbfc
      padding 40px

    &_title
      font-size 21px
      font-weight 700
      line-height 25px
      margin-bottom 55px

    &_item
      float left
      text-align center
      width (100 / 3) %

    &_photo
      border-radius 50%
      display block
      height 180px
      margin 0 auto 25px
      overflow hidden
      width 180px

    &_name
      font-size 21px
      font-weight 700
      line-height 25px
      margin-bottom 15px

    &_phone-number
      font-size 16px
      font-weight 100
      line-height 20px
      margin-bottom 8px

    &_email
      font-size 16px
      font-weight 100
      line-height 20px

      & a
        color #0096ff
        display inline-block

        &:hover
          text-decoration underline