.like-notify
  background-color alpha(white, 0.9)
  left 0
  position fixed
  top 0
  bottom 0
  right 0
  text-align center
  width 100%
  height 100vh
  z-index 15
  display none

  &__wrapper
    color white
    font-size 24px
    font-weight 100