.icons
  &__icon-signin
    display inline-block
    retinaSprite($signin_group)
    vertical-align middle

  &__icon-basket
    display inline-block
    retinaSprite($basket_group)
    vertical-align middle

  &__icon-phone-red
    display inline-block
    retinaSprite($phone_group)
    vertical-align middle

  &__wolecula-fresh
    display inline-block
    retinaSprite($wolecula_fresh_group)
    vertical-align middle

  &__wolecula-antismell
    display inline-block
    retinaSprite($wolecula_antismell_group)
    vertical-align middle

  &__bacteria-soil-resist
    display inline-block
    retinaSprite($bacteria_soil_resist_group)
    vertical-align middle

  &__wolecula-non-iron
    display inline-block
    retinaSprite($wolecula_non_iron_silk_protein_group)
    vertical-align middle

  &__audio
    display inline-block
    retinaSprite($volume_group)
    vertical-align middle

  &__delivery
    display inline-block
    retinaSprite($delivery_group)
    vertical-align middle

  &__non-iron
    display inline-block
    vertical-align middle

    &_wash
      retinaSprite($wash_group)

    &_wash-cicle
      retinaSprite($wash_cycle_group)

    &_hand-on-hanger
      retinaSprite($hang_on_hanger_group)

    &_not-twist
      retinaSprite($not_twist_group)

    &_dry-hangers
      retinaSprite($dry_hangers_group)

    &_shirt-ready-wear
      retinaSprite($shirt_ready_wear_group)

  &__arrow-back
    display inline-block
    retinaSprite($arrow_back_group)
    vertical-align middle

  &__like
    display inline-block
    retinaSprite($like_group)
    vertical-align middle

  &__print
    display inline-block
    retinaSprite($print_group)
    vertical-align middle

  &__like-active
    display inline-block
    retinaSprite($like_active_group)
    vertical-align middle

  &__print-active
    display inline-block
    retinaSprite($print_active_group)
    vertical-align middle

  &__size-guide-small
    display inline-block
    retinaSprite($size_guide_small_group)
    vertical-align middle

  &__specifications
    display inline-block
    retinaSprite($specifications_group)
    vertical-align middle

  &__delivery-black
    display inline-block
    retinaSprite($delivery_black_group)
    vertical-align middle

  &__size-guide
    display inline-block
    retinaSprite($size_guide_group)
    vertical-align middle

  &__care
    display inline-block
    retinaSprite($care_group)
    vertical-align middle

  &__left-black-arrow
    display inline-block
    retinaSprite($left_black_arrow_group)
    vertical-align middle

  &__my-order
    display inline-block
    retinaSprite($my_orders_group)
    vertical-align middle

  &__viewed
    display inline-block
    retinaSprite($viewed_group)
    vertical-align middle

  &__basket-middle
    display inline-block
    retinaSprite($basket_middle_group)
    vertical-align middle