html,
body
  height 100%
html
    &.ovh
        overscroll-behavior: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
        -webkit-overflow: auto;
body
  margin 0

a,
button,
input,
textarea
  outline none !important

a,
a:hover,
a:focus
  color initial
  text-decoration initial