$museo = 'Museo', 'Helvetica Neue', Helvetica, Arial, sans-serif
$plumb = 'Plumb'
$rubl = 'ALS Rubl'

@font-face
  font-family 'Museo'
  src local('MuseoSansCyrl-100Italic'),
      url('../fonts/MuseoSansCyrl-100Italic.eot'),
      url('../fonts/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl-100Italic.woff') format('woff'),
      url('../fonts/MuseoSansCyrl-100Italic.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrl-100Italic.svg#museosanscyrl100italic') format('svg')
  font-weight 100
  font-style italic

@font-face
  font-family 'Museo'
  src local('MuseoSansCyrl-100'),
      url('../fonts/MuseoSansCyrl-100.eot'),
      url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
      url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrl-100.svg#museosanscyrl100') format('svg')
  font-weight 100
  font-style normal

@font-face
  font-family 'Museo'
  src local('MuseoSansCyrl-300Italic'),
      url('../fonts/MuseoSansCyrl-300Italic.eot'),
      url('../fonts/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl-300Italic.woff') format('woff'),
      url('../fonts/MuseoSansCyrl-300Italic.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrl-300Italic.svg#museosanscyrl300italic') format('svg')
  font-weight 300
  font-style italic

@font-face
  font-family 'Museo'
  src local('MuseoSansCyrl-300'),
      url('../fonts/MuseoSansCyrl-300.eot'),
      url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
      url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrl-300.svg#museosanscyrl300') format('svg')
  font-weight 300
  font-style normal

@font-face
  font-family 'Museo'
  src local('MuseoSansCyrl-500Italic'),
      url('../fonts/MuseoSansCyrl-500Italic.eot'),
      url('../fonts/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl-500Italic.woff') format('woff'),
      url('../fonts/MuseoSansCyrl-500Italic.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrl-500Italic.svg#museosanscyrl500italic') format('svg')
  font-weight 500
  font-style italic

@font-face
  font-family 'Museo'
  src local('MuseoSansCyrl-500'),
      url('../fonts/MuseoSansCyrl-500.eot'),
      url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
      url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrl-500.svg#museosanscyrl500') format('svg')
  font-weight 500
  font-style normal

@font-face
  font-family 'Museo'
  src local('MuseoSansCyrl-700Italic'),
      url('../fonts/MuseoSansCyrl-700Italic.eot'),
      url('../fonts/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl-700Italic.woff') format('woff'),
      url('../fonts/MuseoSansCyrl-700Italic.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrl-700Italic.svg#museosanscyrl700italic') format('svg')
  font-weight 700
  font-style italic

@font-face
  font-family 'Museo'
  src local('MuseoSansCyrl-700'),
      url('../fonts/MuseoSansCyrl-700.eot'),
      url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
      url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrl-700.svg#museosanscyrl700') format('svg')
  font-weight 700
  font-style normal

@font-face
  font-family 'Museo'
  src local('MuseoSansCyrl-900Italic'),
      url('../fonts/MuseoSansCyrl-900Italic.eot'),
      url('../fonts/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl-900Italic.woff') format('woff'),
      url('../fonts/MuseoSansCyrl-900Italic.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrl-900Italic.svg#museosanscyrl900italic') format('svg')
  font-weight 900
  font-style italic

@font-face
  font-family 'Museo'
  src local('MuseoSansCyrl-900'),
      url('../fonts/MuseoSansCyrl-900.eot'),
      url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
      url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrl-900.svg#museosanscyrl900') format('svg')
  font-weight 900
  font-style normal



@font-face
  font-family 'Plumb'
  src local('plumbCLight'),
      url('../fonts/Plumb/plumbCLight.eot'),
      url('../fonts/Plumb/plumbCLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Plumb/plumbCLight.woff') format('woff'),
      url('../fonts/Plumb/plumbCLight.ttf') format('truetype'),
      url('../fonts/Plumb/plumbCLight.svg#plumbclight') format('svg')
  font-weight 300
  font-style normal

@font-face
  font-family 'Plumb'
  src local('plumbCRegular'),
      url('../fonts/Plumb/plumbCRegular.eot'),
      url('../fonts/Plumb/plumbCRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Plumb/plumbCRegular.woff') format('woff'),
      url('../fonts/Plumb/plumbCRegular.ttf') format('truetype'),
      url('../fonts/Plumb/plumbCRegular.svg#plumbcregular') format('svg')
  font-weight 400
  font-style normal

@font-face
  font-family 'Plumb'
  src local('plumbCMedium'),
      url('../fonts/Plumb/plumbCMedium.eot'),
      url('../fonts/Plumb/plumbCMedium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Plumb/plumbCMedium.woff') format('woff'),
      url('../fonts/Plumb/plumbCMedium.ttf') format('truetype'),
      url('../fonts/Plumb/plumbCMedium.svg#plumbcmedium') format('svg')
  font-weight 500
  font-style normal

@font-face
  font-family 'Plumb'
  src local('plumbCBold'),
      url('../fonts/Plumb/plumbCBold.eot'),
      url('../fonts/Plumb/plumbCBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Plumb/plumbCBold.woff') format('woff'),
      url('../fonts/Plumb/plumbCBold.ttf') format('truetype'),
      url('../fonts/Plumb/plumbCBold.svg#plumbcbold') format('svg')
  font-weight 600
  font-style normal

@font-face
  font-family 'Plumb'
  src local('plumbCBlack'),
      url('../fonts/Plumb/plumbCBlack.eot'),
      url('../fonts/Plumb/plumbCBlack.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Plumb/plumbCBlack.woff') format('woff'),
      url('../fonts/Plumb/plumbCBlack.ttf') format('truetype'),
      url('../fonts/Plumb/plumbCBlack.svg#plumbcblack') format('svg')
  font-weight 700
  font-style normal

@font-face
  font-family 'Plumb'
  src local('plumbCBlackSoft'),
      url('../fonts/Plumb/plumbCBlackSoft.eot'),
      url('../fonts/Plumb/plumbCBlackSoft.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Plumb/plumbCBlackSoft.woff') format('woff'),
      url('../fonts/Plumb/plumbCBlackSoft.ttf') format('truetype'),
      url('../fonts/Plumb/plumbCBlackSoft.svg#plumbcblacksoft') format('svg')
  font-weight 900
  font-style normal



@font-face
  font-family 'ALS Rubl'
  src local('ALS Rubl'),
      url('../fonts/ALCRubl/rouble.eot'),
      url('../fonts/ALCRubl/rouble.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ALCRubl/rouble.woff') format('woff'),
      url('../fonts/ALCRubl/rouble.ttf') format('truetype'),
      url('../fonts/ALCRubl/rouble.svg#rouble') format('svg')
  font-weight normal
  font-style normal