.search
  &__form
    margin 44px auto 0
    max-width 930px

    &_input-control
      border 1px solid #e5e5e5
      display inline-block
      font-size 16px
      line-height 18px
      margin-right 5px
      padding 10px
      vertical-align middle
      width calc(100% - 195px)

  &__results
    &_title
      font-size 18px
      font-weight 100
      line-height 21px
      margin-top 50px
      position relative
      text-align center

      &_text
        background-color white
        display inline-block
        padding 0 10px
        position relative
        width 270px
        z-index 1

      &:after
        background-color #f0f0f0
        bottom 0
        content ''
        height 1px
        left 0
        margin auto 0
        position absolute
        top 0
        width 100%

    &_wrapper
      margin 30px auto 0
      max-width 930px

    &_item
      font-size 14px
      line-height 16px

      &_title
        font-weight 600

      &_text
        font-weight 300
        margin-top 5px