mixin search()
  .search
    .search__title.global-blocks-title
      span.global-blocks-title_text Поиск
    .search__form
      input.search__form_input-control(type='text' name='q')
      button.btn.btn_theme_black.btn_size_m(type='submit')
        | Найти
    .search__results
      .search__results_title
        .search__results_title_text
          | <b>Всего найдено</b> (1)

      .search__results_wrapper
        .search__results_item
          .search__results_item_title
            | Технологии обработки тканей
          .search__results_item_text
            | ... новые свойства. + NON IRON НЕ ТРЕБУЕТ ГЛАЖКИ Технологии обработки ткани, применяемые при пошиве сорочек «Марио Мачарди», не позволяют мяться сорочкам после стирки. Почувствуйте, как легко «дышит» ваше тело в сорочках от «Марио Мачарди». УХОД + ANTISMELL & BACTERIA + SOIL RESIST НЕ ВПИТЫВАЕТ ЗАПАХИ,...
