.catalog-nos
  margin-top 30px

  &__column
    &_left
      float left
      margin-right 5px
      width 465px

    &_right
      float right
      width calc(100% - 470px)

  &__item
    background-color #f1f4f8
    margin-bottom 5px
    min-height 250px
    padding 37px 40px
    position relative

    &_three
      height 722px
      padding 75px 0 40px

      & img
        height auto
        max-width 100%

  &__title
    font-size 21px
    font-weight 100
    line-height 24px
    margin-bottom 15px

  &__text
    font-size 16px
    font-weight 300
    line-height 27px
    margin-bottom 5px

  &__order-catalog
    margin 63px -40px -37px

    & .btn
      font-size 21px
      line-height 24px
      padding 28px 40px
      text-align left
      width 100%

      & .fa
        display inline-block
        font-size 21px
        font-weight 600
        margin-left 20px
        vertical-align middle