include ../blocks/header/header
include ../blocks/topmenu/topmenu
include ../blocks/topmenu-sticky/topmenu-sticky
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/delivery/delivery
include ../blocks/footer/footer

extends ../blocks/layout-default/layout-default

block head
  - var pageTitle = 'Доставка';
  - var pageId = 'delivery';

block content
  .page__wrapper
    +header()
    +topmenu()
    +topmenu-sticky()
    +delivery()
    +footer()