include ../blocks/header/header
include ../blocks/topmenu/topmenu
include ../blocks/topmenu-sticky/topmenu-sticky
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/returns365export/export
include ../blocks/footer/footer

extends ../blocks/layout-default/layout-default

block head
  - var pageTitle = 'Самовывоз';
  - var pageId = 'export';

block content
  .page__wrapper
    +header()
    +topmenu()
    +topmenu-sticky()
    +export()
    +footer()