include ../blocks/header/header
include ../blocks/topmenu/topmenu
include ../blocks/topmenu-sticky/topmenu-sticky
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/returns365export/returns365
include ../blocks/footer/footer

extends ../blocks/layout-default/layout-default

block head
  - var pageTitle = 'Возврат 365';
  - var pageId = 'returns365';

block content
  .page__wrapper
    +header()
    +topmenu()
    +topmenu-sticky()
    +returns365()
    +footer()