include ../blocks/header/header
include ../blocks/topmenu/topmenu
include ../blocks/topmenu-sticky/topmenu-sticky
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/shipping_payment/shipping_payment
include ../blocks/footer/footer

extends ../blocks/layout-default/layout-default

block head
  - var pageTitle = 'Доставка и оплата';
  - var pageId = 'shipping_payment';

block content
  .page__wrapper
    +header()
    +topmenu()
    +topmenu-sticky()
    +shipping_payment()
    +footer()