include ../blocks/header/header
include ../blocks/topmenu/topmenu
include ../blocks/topmenu-sticky/topmenu-sticky
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/shops/shops
include ../blocks/footer/footer

extends ../blocks/layout-default/layout-default

block head
  - var pageTitle = 'Магазины';
  - var pageId = 'shops';

block content
  .page__wrapper
    +header()
    +topmenu()
    +topmenu-sticky()
    +breadcrumbs({
      parent_page_1: 'О компании',
      current_page: 'Магазины'
    })
    +shops()
    +footer()
  script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' async)