include ../blocks/header/header
include ../blocks/topmenu/topmenu
include ../blocks/topmenu-sticky/topmenu-sticky
include ../blocks/order-accepted/order-accepted
include ../blocks/footer/footer

extends ../blocks/layout-default/layout-default

block head
  - var pageTitle = 'Ваш заказ принят';
  - var pageId = 'order-accepted';

block content
  .page__wrapper
    +header()
    +topmenu()
    +topmenu-sticky()
    +order-accepted()

    +footer()