mixin main-image()
  // Основные изображения на главной
  .main-image
    .main-image__item.main-image__item_50perc-resize
      .main-image__item_wrapper
        .main-image__large-title
          | Весна &mdash; лето.
          br
          b 2016
        .main-image__item_50perc-resize_image
          img(src='uploads/img_1.jpg' alt='Весна-лето')

    .main-image__item.main-image__item_230pix-notresize
      .main-image__item_wrapper
        .logos.logos__wolecula-logo_colorize
        .main-image__medium-title
          | Инновационная
          br
          | технология
          br
          | обработки
          br
          | ткани.
          br
          b Wolecula

    .main-image__item.main-image__item_470pix-notresize
      .main-image__item_wrapper(style='background-color: #006add')
        .main-image__medium-title.main-image__medium-title_white
          | Новая коллекция
          br
          | нижнего белья.
        .main-image__xl-title.main-image__xl-title_white
          b Men`s underwear
        .main-image__item_470pix-notresize_vertical-image
          img(src='uploads/img_49.png' alt='only for men')

    .main-image__item.main-image__item_930del2perc-resize
      .main-image__item_wrapper
        .main-image__medium-title
          | Сотрудничество.
          br
          b Просто. Выгодно.
          br
          b Безопасно
        .logos.logos__official-logo_black

    .main-image__item.main-image__item_930del2perc-resize.main-image__item_930del2perc-resize_side
      .main-image__item_wrapper
        .main-image__item_930del2perc-resize_image
          img(src='images/icons/mario_machardi_shop.png' alt='mario machardi')
        .main-image__medium-title
          | Магазины.
          br
          b Offline
