.paa-closed-cities
  padding 37px 40px 0

  & .basket__good_remove
    float none

  & .personal-admin-account__table
    & td:nth-last-child(1)
      text-align center

    & .city
      font-weight 500

  &__add-closed-city
    margin-top 48px

    &_title
      font-size 18px
      font-weight 700
      position relative
      text-align center

      &_text
        background-color white
        display inline-block
        padding 0 10px
        position relative
        width 270px
        z-index 1

      &:after
        background-color #f0f0f0
        bottom 0
        content ''
        height 1px
        left 0
        margin auto 0
        position absolute
        top 0
        width 100%

    &_form
      display flex
      justify-content center
      margin 48px 0 60px

    &_column
      margin 0 30px

    & label
      font-size 14px
      margin-right 35px