mixin manual-icon-non-iron()
  // Инструкция Non Iron
  .manual-icon-non-iron
    .manual-icon-non-iron__wrapper.clearfix

      .manual-icon-non-iron__item
        .manual-icon-non-iron__item_wrapper
          .manual-icon-non-iron__item_icon
            .icons.icons__non-iron.icons__non-iron_wash
          .manual-icon-non-iron__item_description
            | Перед тем как
            br
            | одеть сорочку в первый раз,
            br
            | ее необходимо постирать.
            br
            | Свои лучшие качества
            br
            | сорочка приобретает после третьей стирки.

      .manual-icon-non-iron__item
        .manual-icon-non-iron__item_wrapper
          .manual-icon-non-iron__item_icon
            .icons.icons__non-iron.icons__non-iron_wash-cicle
          .manual-icon-non-iron__item_description
            | Режим стирки:
            br
            | не более 40°С, отжим
            br
            | от 300 до 600 об./мин,
            br
            | порошок без отбеливателя.

      .manual-icon-non-iron__item
        .manual-icon-non-iron__item_wrapper
          .manual-icon-non-iron__item_icon
            .icons.icons__non-iron.icons__non-iron_hand-on-hanger
          .manual-icon-non-iron__item_description
            | После стирки сорочку необходимо тут же достать
            br
            | из стиральной машины
            br
            | и повесить на плечики

      .manual-icon-non-iron__item
        .manual-icon-non-iron__item_wrapper
          .manual-icon-non-iron__item_icon
            .icons.icons__non-iron.icons__non-iron_not-twist
          .manual-icon-non-iron__item_description
            | Не выкручивать

      .manual-icon-non-iron__item
        .manual-icon-non-iron__item_wrapper
          .manual-icon-non-iron__item_icon
            .icons.icons__non-iron.icons__non-iron_dry-hangers
          .manual-icon-non-iron__item_description
            | Сушить на&nbsp;плечиках с&nbsp;застегнутой верхней пуговицей

      .manual-icon-non-iron__item
        .manual-icon-non-iron__item_wrapper
          .manual-icon-non-iron__item_icon
            .icons.icons__non-iron.icons__non-iron_shirt-ready-wear
          .manual-icon-non-iron__item_description
            | Сорочка готова к&nbsp;носке