mixin password()
  form.personal-area-password(action='?' method='POST')
    .personal-area-password__wrapper
      .personal-area-password__column
        label.basket__label
          | Пароль*
        input.basket__text-control(type='password' name='old_password')

      .personal-area-password__column
        label.basket__label
          | Новый пароль*
        input.basket__text-control(type='password' name='pass_validate' data-validation='length'
        data-validation-length='min6')

      .personal-area-password__column
        label.basket__label
          | Введите новый пароль еще раз
        input.basket__text-control(type='password' name='password_confirmation'
        data-validation='confirmation length' data-validation-confirm='pass_validate'
        data-validation-length='min6')

    .personal-area__submit
      button.btn.btn_theme_black.btn_size_m(type='submit')
        | Сохранить
      button.btn.btn_theme_black.btn_size_m(type='button' cancel-form)
        | Отменить
