.personal-area-my-manager
  padding 70px 40px 0

  &__manager
    display flex

    &_photo
      border-radius 50%
      height 190px
      overflow hidden
      width 190px

    &_content
      margin-left 50px

    &_name
      font-size 24px
      font-weight 100
      margin-bottom 20px

    &_contacts
      font-size 14px
      font-weight 100
      line-height 2.5

      & a
        color #0096ff

    &_textarea
      font-size 14px
      margin-top 25px

      & textarea
        border 1px solid #e5e5e5
        font-size 16px
        font-weight 100
        height 135px
        resize none
        padding 10px
        width 625px

    &_file
      margin-top 10px
      position relative

      & .btn
        margin-left 20px

      & input[type='file']
        height 100%
        left 0
        opacity 0
        position absolute
        top 0
        width 100%

  & .personal-area__submit
    margin-top 125px