mixin wholesale-buyers()
  // Оптовым покупателям
  .wholesale-buyers
    .wholesale-buyers__title.global-blocks-title
      span.global-blocks-title_text
        | Оптовым покупателям
    .wholesale-buyers__wrapper
      .wholesale-buyers__item.wholesale-buyers__audio-adv
        .wholesale-buyers__item_wrapper
          .icons.icons__audio
          .wholesale-buyers__audio-adv_description
            | Бесплатная аудио-реклама
            br
            | для торгово-развлекательных центров.
            br
            a(href='#'): b Слушать
      .wholesale-buyers__item.wholesale-buyers__delivery
        .wholesale-buyers__item_wrapper
          .icons.icons__delivery
          .wholesale-buyers__delivery_description
            | Бесплатная доставка.
            br
            a(href='#'): b В Москве и Подмосковье
      .wholesale-buyers__item.wholesale-buyers__sorting
        .wholesale-buyers__item_wrapper
          .wholesale-buyers__item_title
            | Поштучная
            br
            | подсортировка.
            br
            b Всегда в наличии.
          .wholesale-buyers__sorting_icon
            | NOS
      .wholesale-buyers__item.wholesale-buyers__advantages
        .wholesale-buyers__item_wrapper
          .wholesale-buyers__item_title
            | Преимущества
            br
            b Mario Machardi
          ul.wholesale-buyers__item_list
            li.wholesale-buyers__item_list-item
              | Высокое качество тканей;
            li.wholesale-buyers__item_list-item
              | Высокое качество расходных материалов
              span.wholesale-buyers__item_list-text-small
                | (нитки, пуговицы, резинки и т.д.);
            li.wholesale-buyers__item_list-item
              | Высочайшее качество готовых изделий;
            li.wholesale-buyers__item_list-item
              | Демократичные цены;
            li.wholesale-buyers__item_list-item
              | Солидные скидки для оптовых покупателей.
