mixin wholesale-buyers-page(fullOrBlock)
  if (fullOrBlock)
    .wholesale-buyers-page.wholesale-buyers-page_full-page.clearfix
      .wholesale-buyers-page__column
        .wholesale-buyers-page__title
          | Демократичные цены.
          br
          b Солидные скидки
        img(src='/images/wholesale_buyers/img_1.png')

      .wholesale-buyers-page__column
        .wholesale-buyers-page__title
          | Планирование сезона поставок.
          br
          b Прибыль круглый год!
        img(src='/images/wholesale_buyers/img_2.png')
        .wholesale-buyers-page__description
          | Удобная сервисная программа позволяет вам в любое время года с легкостью планировать сезонные и ежегодные поставки как новых, так и традиционных коллекций «Mario Machardi».

      .wholesale-buyers-page__column
        .wholesale-buyers-page__title
          | Индивидуальные подход.
          br
          b Ваш персональный менеджер
        img(src='/images/wholesale_buyers/img_4.png')

      .wholesale-buyers-page__column
        .wholesale-buyers-page__title
          | Эксклюзивные права
          br
          | на территорию продаж.
          br
          b Без конкуренции!
        img(src='/images/wholesale_buyers/img_3.png')

      .wholesale-buyers-page__column
        .wholesale-buyers-page__title
          | Доставка.
          br
          b Москва. Область.
          br
          b Вся Россия
        img(src='/images/wholesale_buyers/img_5.png')

      .wholesale-buyers-page__column
        a.btn.btn_theme_pink.btn_size_m(href='#')
          | Хочу стать оптовым покупателем
  else
    .wholesale-buyers-page.wholesale-buyers-page_block-page.clearfix
      .wholesale-buyers-page__column
        .wholesale-buyers-page__title
          | Демократичные цены.
          br
          b Солидные скидки
        img(src='/images/wholesale_buyers/img_1.png')

      .wholesale-buyers-page__column
        .wholesale-buyers-page__title
          | Индивидуальные подход.
          br
          b Ваш персональный менеджер
        img(src='/images/wholesale_buyers/img_4.png')

      .wholesale-buyers-page__column
        .wholesale-buyers-page__title
          | Эксклюзивные права
          br
          | на территорию продаж.
          br
          b Без конкуренции!
        img(src='/images/wholesale_buyers/img_3.png')

      .wholesale-buyers-page__column
        .wholesale-buyers-page__title
          | Доставка.
          br
          b Москва. Область.
          br
          b Вся Россия
        img(src='/images/wholesale_buyers/img_5.png')

      .wholesale-buyers-page__column
        .wholesale-buyers-page__title
          | Планирование сезона поставок.
          br
          b Прибыль круглый год!
        img(src='/images/wholesale_buyers/img_2.png')

      .wholesale-buyers-page__column
        a.btn.btn_theme_pink.btn_size_m(href='#')
          | Хочу стать оптовым покупателем