.footer-print
  margin 110px 0 155px
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex

  &__column
    display inline-block
    vertical-align top
    flex-basis 33%

    &:last-child
      margin-right 0

  & a
    color #0096ff

    &:hover
      text-decoration underline