mixin footer-print()
  .footer-print
    .footer-print__column.phones
      .footer__contacts_title
        | Телефоны:
      .footer__contacts_text
        | +7 (495) 778-65-25
      .footer__contacts_text
        | +7 (495) 979-85-03
    .footer-print__column.interior-phone
      .footer__contacts_title
        | Внутренний номер:
      .footer__contacts_text
        | 58-84
    .footer-print__column.email
      .footer__contacts_title
        | Почта:
      .footer__contacts_text
        a(href='mailto:info@machardi.ru') info@machardi.ru