mixin returns365()
  .returns365export
    .returns365export__column.clearfix
      .returns365export__column_left
        .returns365export__title
          | Возврат
          br
          | <b>365 дней в году</b>
      .returns365export__column_right
        .returns365export__text
          | При необходимости,
          br
          | вы можете вернуть оплаченный товар по адресу:
          br
          | <b>г. Москва, Щёлковское шоссе, д. 2А, офис 1226.</b>
    .returns365export__map
      script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=bknxXglzs58TL1Pwup2FFKLXc4m5lQvH&width=100%&height=505&lang=ru_RU&sourceType=constructor&scroll=false")
