.returns365export
  &__column
    margin-bottom 5px

    &_left,
    &_right
      min-height 250px
      padding 45px 40px 45px

    &_left
      background-color #f1f4f8
      float left
      margin-right 5px
      width 465px

    &_right
      background-color #f1f4f8
      float left
      width calc(100% - 470px)

  &__title
    font-size 21px
    font-weight 100
    line-height 24px

  &__text
    font-size 16px
    font-weight 300
    line-height 27px

  &__small
    font-size 12px
    font-weight 300
    margin-top 33px

  &__map
    background-color alpha(black, 0.05)
    height 505px