mixin footer-print-retail()
  .footer-print
    .footer-print__column.phones
      .footer__contacts_title
        | Телефоны:
      .footer__contacts_text
        | 8 (800) 100-66-76
    .footer-print__column.email
      .footer__contacts_title
        | Почта:
      .footer__contacts_text
        a(href='mailto:info@machardi.ru') info@machardi.ru