.wolecula-header
  margin -30px 0 30px
  position relative

  &__wrapper
    background-color white
    margin 0 auto
    position relative
    text-align center
    width 270px
    z-index 1

  &:after
    background-color #f0f0f0
    bottom 0
    content ''
    height 1px
    left 0
    margin auto 0
    position absolute
    top 0
    width 100%