mixin mens-underwear()
  .mens-underwear
    .mens-underwear__column.clearfix
      .mens-underwear__column_left
        .mens-underwear__item.mens-underwear__item_one
          .mens-underwear__title
            | Коллекция нижнего белья
            br
            b Men`s underwear
          .mens-underwear__collection-items
            .mens-underwear__collection-items_item
              .mens-underwear__collection-items_icon
                img(src='/images/underpants.png')
              .mens-underwear__collection-items_text
                | Мужское
                br
                | нижнее белье
            .mens-underwear__collection-items_item
              .mens-underwear__collection-items_icon
                img(src='/images/shirt.png')
              .mens-underwear__collection-items_text
                | Мужские
                br
                | майки

          .mens-underwear__collection-info.clearfix
            .mens-underwear__collection-info_item
              .mens-underwear__collection-info_text
                b Размеры:
                br
                | Вся размерная
                | линейка
            .mens-underwear__collection-info_item
              .mens-underwear__collection-info_text
                b Ткань:
                br
                | Сotton Stretch
            .mens-underwear__collection-info_item
              .mens-underwear__collection-info_text
                b Упаковка:
                br
                | 1 Pack&nbsp;&nbsp;|&nbsp;&nbsp;3 Pack

        .mens-underwear__item.mens-underwear__item_two
          .mens-underwear__title.mens-underwear__title_large
            | В продаже &mdash;
            br
            b с 1 сентября
            br
            b 2016 г.
          .mens-underwear__order
            a(href='#')
              | Предаказ
              i.fa.fa-angle-right

      .mens-underwear__column_right
        .mens-underwear__item.mens-underwear__item_three
          .mens-underwear__slider
            .mens-underwear__slider_item
              img(src='/images/cloud_shirt_1.png')
            .mens-underwear__slider_item
              img(src='/images/cloud_shirt_2.png')

