.logos
  &__wolecula-logo
    display inline-block

    &_colorize
      background url('../images/icons/wolecula.png') no-repeat center center
      height 87px
      width 94px

    &_black-and-white
      retinaSprite($wolecula_bw_group)

  &__official-logo
    display inline-block

    &_black
      retinaSprite($mario_machardi_logo_group)

    &_white
      retinaSprite($mario_machardi_logo_white_group)

  &__welcone-welded-connection
    display inline-block
    background url('../images/icons/welcon_welded_connection.png') no-repeat center center
    height 86px
    width 67px
