mixin novelty()
  // Новинки
  .novelty
    .novelty__title.global-blocks-title
      span.global-blocks-title_text Новинки
    .novelty__wrapper
      .novelty__info
        .novelty__info_title
          | Сорочки Non Iron.
          br
          b Не требуют глажки!
        .novelty__info_description
          | Мужские рубашки NON IRON
          | (не&nbsp;требующие глажки) от&nbsp;компании
          | Mario Machardi&nbsp;&mdash; это отличная возможность для торговых сетей
          | и&nbsp;магазинов привлечь новых клиентов&nbsp;&mdash; поклонников европейского качества
          | и&nbsp;изысканного итальянского стиля.
      .novelty__image
        img(src='uploads/img_8.png' alt='Сорочки Non Iron')
