mixin welcon-welded-connection()
  .welcon-welded-connection
    .welcon-welded-connection__logo
      .welcon-welded-connection__logo_wrapper
        .logos.logos__welcone-welded-connection
    .welcon-welded-connection__wrapper
      .welcon-welded-connection__description
        | Welcon&nbsp;&mdash; революционная технология термического соединения швов, которая позволяет полностью отказаться от&nbsp;ниток и&nbsp;иголок при пошиве сорочек, обеспечивая при этом недостижимую ранее ровность и&nbsp;высочайшую прочность соединения ткани.
        b Любите гладить? Купите другую!